<template>
  <div>
    <!-- งานด่วน -->
    <div>
      <v-container fluid>
        <div class="px-15">
          <v-row>
            <v-col>
              <span class="font-20"> หางานด่วน </span>
            </v-col>
            <v-col align="right">
              <v-btn outlined>
                ดูทั้งหมด
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2" v-for="(item, index) in 8" :key="index">
              <company-card />
            </v-col>
          </v-row>
        </div>
      </v-container>
    </div>

    <!-- งานออนไลน์ -->
    <div>
      <v-container fluid>
        <div class="px-15">
          <v-row>
            <v-col>
              <span class="font-20"> งานออนไลน์ ทำได้ที่บ้าน </span>
            </v-col>
            <v-col align="right">
              <v-btn outlined>
                ดูทั้งหมด
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-img
                src="/images/working-from-home-time-management-concept.jpg"
                aspect-ratio="1"
              ></v-img>
            </v-col>

            <v-col cols="6">
              <v-row>
                <v-col cols="4" v-for="(item, index) in 6" :key="index">
                  <company-card />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </div>
      </v-container>
    </div>

    <!-- seperator -->
    <div>
      <v-img
        src="/images/working-from-home-time-management-concept.jpg"
        width="100%"
        height="250"
      ></v-img>
    </div>

    <!-- โปรไฟล์คุณภาพ -->
    <div>
      <v-container fluid>
        <div class="px-15">
          <v-row>
            <v-col>
              <span class="font-20"> โปรไฟล์คุณภาพ </span>
            </v-col>
            <v-col align="right">
              <v-btn outlined>
                ดูทั้งหมด
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="3" v-for="(item, index) in 12" :key="index">
              <profile-card />
            </v-col>
          </v-row>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
    };
  },
};
</script>