<template>
  <div align="center" style="padding-top: 80px">
    <v-card width="700" class="px-15 rounded-xl" style="padding: 50px 0">
      <v-container>
        <v-row>
          <v-col align="left">
            <p class="font-22">เข้าสู่ระบบ</p>
          </v-col>
        </v-row>
        <v-row class="my-0">
          <v-col align="left">
            อีเมลล์
            <v-text-field
              placeholder="อีเมลล์"
              v-model="form.email"
              required
              :rules="emailRules"
              outlined
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="my-0">
          <v-col align="left">
            รหัสผ่าน
            <v-text-field
              placeholder="กรอกรหัสผ่าน"
              v-model="form.password"
              type="password"
              required
              outlined
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-btn block color="ci-green" large class="white--text">
              เข้าสู่ระบบ
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn block large outlined> เข้าสู่ระบบด้วยบัญชี Google </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn text class="text-decoration-underline primary--text">
              ลืมรหัสผ่าน
            </v-btn>
          </v-col>
        </v-row>
        <v-row class="d-flex align-center justify-center">
          <div>คุณยังไม่มีบัญชี?</div>
          <div>
            <v-btn text>สมัครสมาชิก</v-btn>
          </div>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: null,
        password: null,
      },
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid",
      ],
    };
  },
};
</script>