<template>
  <div style="padding-top: 80px">
    <v-container>
      <v-row>
        <v-col>
          <div class="font-22">ทำไมต้องฝากโปรไฟล์กับ</div>
          <div class="my-3"><h1>Jobmai.com</h1></div>
          <div class="mt-5 mb-2">
            <v-icon size="30">mdi-check</v-icon>
            ฝากโปรไฟล์สมัครงาน ฟรี! ไม่มีค่าใช้จ่ายใดๆ ทั้งสิ้น
          </div>
          <div class="my-4">
            <v-icon size="30">mdi-check</v-icon>
            ออกแบบเรซูเม่เฉพาะคุณ
          </div>
          <div class="my-4">
            <v-icon size="30">mdi-check</v-icon>
            ลงตำแหน่งงานได้ตามความสามารถ
          </div>
          <div class="my-4">
            <v-icon size="30">mdi-check</v-icon> บริษัทสามารถค้นหาคุณได้
          </div>
          <div class="my-4">
            <v-icon size="30">mdi-check</v-icon>
            อัพเดทตำแหน่งงานใหม่ทุกวัน
          </div>
          <v-row class="d-flex align-center mt-6">
            <div>คุณมีบัญชีอยู่แล้ว?</div>
            <div>
              <v-btn text class="ci-green--text"><u>เข้าสู่ระบบ</u></v-btn>
            </div>
          </v-row>
        </v-col>

        <v-col>
          <v-card width="700" class="px-15 rounded-xl" style="padding: 30px 0">
            <v-container>
              <v-row>
                <v-col align="left">
                  <p class="font-22">สมัครสมาชิก</p>
                </v-col>
              </v-row>
              <v-row class="my-0">
                <v-col align="left">
                  อีเมลล์
                  <v-text-field
                    placeholder="อีเมลล์"
                    v-model="form.email"
                    required
                    :rules="emailRules"
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="my-0">
                <v-col align="left">
                  รหัสผ่าน
                  <v-text-field
                    placeholder="กรอกรหัสผ่าน"
                    v-model="form.password"
                    type="password"
                    required
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="my-0">
                <v-col align="left">
                  ยืนยันรหัสผ่านอีกครั้ง
                  <v-text-field
                    placeholder="กรอกรหัสผ่านอีกครั้ง"
                    v-model="form.re_password"
                    type="password"
                    required
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-btn block color="ci-green" large class="white--text">
                    สมัครสมาชิก
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: null,
        password: null,
        re_password: null,
      },
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid",
      ],
    };
  },
};
</script>