<template>
  <div>
    <v-container>
      <v-row>
        <v-col> admin pages </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
    };
  },
};
</script>