ป<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <h3 class="mt-4">โปรไฟล์สมัครงาน</h3>
        </v-col>
      </v-row>

      <v-row class="pl-5 pr-15">
        <v-col>
          <v-card elevation="0">
            <v-container fluid class="pl-15">
              <v-row>
                <!-- img -->
                <v-col cols="3">
                  <v-img
                    src="/images/v1033-bb-037.jpg"
                    width="200"
                    height="200"
                    contain
                  />
                </v-col>
                <v-col cols="9">
                  <v-row>
                    <v-col>
                      <div>
                        <b class="font-20"> ศุรเดช ห้าวหาญ </b>
                      </div>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="2" align="right">
                      <v-btn text class="ci-purple--text">
                        <v-img
                          src="/images/write.png"
                          height="24"
                          width="24"
                          contain
                        />
                        แก้ไข
                      </v-btn>
                    </v-col>
                  </v-row>
                  <v-row>
                    <!-- contact -->
                    <v-col cols="4">
                      <div class="d-flex">
                        <div>
                          <v-img
                            src="/images/envelope.png"
                            width="20"
                            height="20"
                            contain
                          ></v-img>
                        </div>
                        <div class="ml-3">example@mail.com</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <v-img
                            src="/images/world-wide-web.png"
                            width="20"
                            height="20"
                            contain
                          ></v-img>
                        </div>
                        <div class="ml-3">www.facebook.com/example</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <v-img
                            src="/images/line.png"
                            width="20"
                            height="20"
                            contain
                          ></v-img>
                        </div>
                        <div class="ml-3">Suradej.test</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <v-img
                            src="/images/instagram.png"
                            width="20"
                            height="20"
                            contain
                          ></v-img>
                        </div>
                        <div class="ml-3">Suredej222</div>
                      </div>
                    </v-col>
                    <!-- address -->
                    <v-col cols="4">
                      <div class="font-14 text--secondary">ที่อยู่</div>
                      <div>5/2362 ม.10</div>
                      <div>ต.บางตลาด อ.ปากเกร็ด จ.นนทบุรี</div>
                    </v-col>
                    <!-- other detail -->
                    <v-col cols="4">
                      <div class="font-14 text--secondary">ทั่วไป</div>
                      <div>เพศชาย, อายุ 24 ปี</div>

                      <div class="mt-5 font-14 text--secondary">
                        สถานภาพทางทหาร
                      </div>
                      <div>ยังไม่ได้เกณฑ์ทหาร</div>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <v-row class="pl-5 pr-15">
        <v-col cols="9">
          <!-- ตำแหน่งงานต่อไป -->
          <v-row>
            <v-col>
              <v-row>
                <v-col class="pb-1">
                  <b class="font-20"> ตำแหน่งงานต่อไป </b>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="font-14 text--secondary pt-0">
                  แนะนำ: คุณภาพโปรไฟล์ควรจะได้ 100% เรซูเม่จึงจะสมบูรณ์
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-card elevation="0">
                    <v-container>
                      <v-row>
                        <v-col cols="8">
                          <p class="ci-green--text">
                            Human Resource (Part-time)
                          </p>
                          <v-row>
                            <v-col> เงินเดือน </v-col>
                            <v-col> 45,000 บาท </v-col>
                          </v-row>

                          <v-row>
                            <v-col> สถานที่ทำงาน </v-col>
                            <v-col> กรุงเทพมหานคร, ระยอง, ขอนแก่น </v-col>
                          </v-row>

                          <v-row>
                            <v-col>
                              <p>
                                I aim to attain an engaging internship position
                                in the field of social media management. I hope
                                to create online campaigns to inspire the youth.
                              </p>
                            </v-col>
                          </v-row>
                        </v-col>

                        <v-col cols="4">
                          <v-row no-gutters>
                            <v-col cols="4">
                              <v-btn text class="ci-purple--text">
                                <!-- <v-img
                                  src="/images/eye.png"
                                  height="20"
                                  width="20"
                                  contain
                                /> -->
                                <v-icon>mdi-file-document-outline</v-icon>
                                เรซูเม่
                              </v-btn>
                            </v-col>
                            <v-col cols="4">
                              <v-btn text class="ci-purple--text">
                                <v-img
                                  src="/images/write.png"
                                  height="20"
                                  width="20"
                                  contain
                                />
                                แก้ไข
                              </v-btn>
                            </v-col>
                            <v-col cols="4">
                              <v-btn text class="ci-purple--text">
                                <v-img
                                  src="/images/delete.png"
                                  height="20"
                                  width="20"
                                  contain
                                />
                                ลบ
                              </v-btn>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-btn
                    block
                    x-large
                    elevation="0"
                    class="ci-purple--text dashbtn"
                  >
                    <v-icon size="22"> mdi-plus-circle-outline </v-icon>
                    <u> เพิ่มตำแหน่งงานต่อไป </u>
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <!-- ประสบการณ์ทำงาน -->
          <v-row>
            <v-col>
              <v-row>
                <v-col> <b class="font-20"> ประสบการณ์ทำงาน </b> </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-card elevation="0">
                    <v-container>
                      <v-row>
                        <v-col cols="8">
                          <p class="ci-green--text">
                            Human Resource - Freelance
                          </p>
                          <v-row>
                            <v-col> Brainwave Group.Co.,Ltd </v-col>
                            <v-col> | 2015-ปัจจุบัน </v-col>
                          </v-row>

                          <v-row>
                            <v-col>
                              <p>
                                - Wrote articles about technology and the
                                digital age for online publications
                              </p>
                              <p>- Wrote copies for tech startups</p>
                              <p>- Designed the company’s online tech page</p>
                            </v-col>
                          </v-row>
                        </v-col>

                        <v-col cols="4">
                          <v-row no-gutters>
                            <v-spacer></v-spacer>
                            <v-col cols="4">
                              <v-btn text class="ci-purple--text">
                                <v-img
                                  src="/images/write.png"
                                  height="20"
                                  width="20"
                                  contain
                                />
                                แก้ไข
                              </v-btn>
                            </v-col>
                            <v-col cols="4">
                              <v-btn text class="ci-purple--text">
                                <v-img
                                  src="/images/delete.png"
                                  height="20"
                                  width="20"
                                  contain
                                />
                                ลบ
                              </v-btn>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-btn
                    block
                    x-large
                    elevation="0"
                    class="ci-purple--text dashbtn"
                  >
                    <v-icon size="22"> mdi-plus-circle-outline </v-icon>
                    <u> เพิ่มประสบการณ์ทำงาน </u>
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <!-- ประวัติการศึกษา -->
          <v-row>
            <v-col>
              <v-row>
                <v-col> <b class="font-20"> ประวัติการศึกษา </b> </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-card elevation="0">
                    <v-container>
                      <v-row>
                        <v-col cols="8">
                          <p class="ci-green--text">
                            Master of Software Engineering (GPA 3.24)
                          </p>
                          <v-row>
                            <v-col> De Loureigh University </v-col>
                            <v-col> | 2015 </v-col>
                          </v-row>
                        </v-col>

                        <v-col cols="4">
                          <v-row no-gutters>
                            <v-spacer></v-spacer>
                            <v-col cols="4">
                              <v-btn text class="ci-purple--text">
                                <v-img
                                  src="/images/write.png"
                                  height="20"
                                  width="20"
                                  contain
                                />
                                แก้ไข
                              </v-btn>
                            </v-col>
                            <v-col cols="4">
                              <v-btn text class="ci-purple--text">
                                <v-img
                                  src="/images/delete.png"
                                  height="20"
                                  width="20"
                                  contain
                                />
                                ลบ
                              </v-btn>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-btn
                    block
                    x-large
                    elevation="0"
                    class="ci-purple--text dashbtn"
                  >
                    <v-icon size="22"> mdi-plus-circle-outline </v-icon>
                    <u> เพิ่มประวัติการศึกษา </u>
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <!-- ทักษะความสามารถ -->
          <v-row>
            <v-col>
              <v-row>
                <v-col> <b class="font-20"> ทักษะความสามารถ </b> </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-card elevation="0">
                    <v-container>
                      <v-row>
                        <v-col cols="8">
                          <div>
                            <p class="ci-green--text mb-0">
                              ความสามารถทางภาษา | Hard Skill
                            </p>
                            <v-row>
                              <v-col class="pb-0">
                                <li>ภาษาไทย</li>
                              </v-col>
                              <v-col class="pb-0"> เชี่ยวชาญ </v-col>
                            </v-row>
                            <v-row>
                              <v-col class="pt-0"> <li>ภาษาอังกฤษ</li></v-col>
                              <v-col class="pt-0"> IELTS Level 4 </v-col>
                            </v-row>
                          </div>

                          <div class="mt-5">
                            <p class="ci-green--text mb-0">
                              ทักษะโปรแกรมคอมพิวเตอร์ | Hard Skill
                            </p>

                            <ul>
                              <li>Word</li>
                              <li>Excel</li>
                            </ul>
                          </div>

                          <div class="mt-6">
                            <p class="ci-green--text mb-0">
                              ทักษะความสามารถเชิงสมรรถนะ หรือ ลักษณะอุปนิสัย |
                              Soft Skill
                            </p>
                            <ul>
                              <li>มีความอดทน</li>
                              <li>มีความกระตือรือร้น</li>
                            </ul>
                          </div>
                        </v-col>

                        <v-col cols="4">
                          <v-row no-gutters>
                            <v-spacer></v-spacer>
                            <v-col cols="4">
                              <v-btn text class="ci-purple--text">
                                <v-img
                                  src="/images/write.png"
                                  height="20"
                                  width="20"
                                  contain
                                />
                                แก้ไข
                              </v-btn>
                            </v-col>
                            <v-col cols="4">
                              <v-btn text class="ci-purple--text">
                                <v-img
                                  src="/images/delete.png"
                                  height="20"
                                  width="20"
                                  contain
                                />
                                ลบ
                              </v-btn>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-btn
                    block
                    x-large
                    elevation="0"
                    class="ci-purple--text dashbtn"
                  >
                    <v-icon size="22"> mdi-plus-circle-outline </v-icon>
                    <u> เพิ่มทักษะความสามารถ </u>
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>

        <!-- images -->
        <v-col cols="3">
          <v-row>
            <v-col> <b class="font-20"> รูปภาพผลงาน </b> </v-col>
          </v-row>

          <v-card elevation="0" class="mt-5">
            <v-container>
              <v-row>
                <v-col align="right">
                  <v-btn text class="ci-purple--text">
                    <v-img
                      src="/images/write.png"
                      height="20"
                      width="20"
                      contain
                    />
                    แก้ไข
                  </v-btn>
                </v-col>
              </v-row>

              <v-row v-for="(item, index) in 3" :key="index">
                <v-col>
                  <v-img
                    src="/images/engineer-working-checking-maintenance-equipment-wiring-plc-cabinet.jpg"
                    max-height="300"
                    max-width="300"
                    aspect-ratio="1"
                  >
                  </v-img>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.dashbtn {
  background-color: white !important;
  border: 2px dashed #3e51b5;
}
</style>

<script>
export default {
  data() {
    return {
      data: 0,
    };
  },
};
</script>