<template>
  <v-card elevation="0" color="ci-graylt2" class="my-5">
    <v-container>
      <v-row>
        <!-- img -->
        <v-img
          src="/images/v1033-bb-037.jpg"
          width="100%"
          max-height="200"
          contain
        />
      </v-row>
      <v-row class="mt-6">
        <div>บริษัท สะสมซีฟู้ด จำกัด</div>
      </v-row>
      <v-row class="mt-6">
        <div><v-icon>mdi-map-marker-outline</v-icon> ชลบุรี</div>
      </v-row>
      <v-row class="mt-6 justify-center">
        <v-sheet
          color="ci-green"
          height="50"
          width="100%"
          class="rounded-pill"
          align="center"
        >
          <p class="white--text mt-3">เปิดรับ 3 ตำแหน่ง</p>
        </v-sheet>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      test: 0,
    };
  },
};
</script>