<template>
  <v-app-bar
    color="ci-green"
    fixed
    app
    clipped-left
    prominent
    :style="
      $vuetify.breakpoint.sm || $vuetify.breakpoint.xs ? 'height: 220px' : ''
    "
  >
    <v-container fill-height fluid class="d-flex align-center">
      <v-row class="d-flex align-center">
        <v-col cols="12" md="3">
          <span class="white--text" style="font-size: 40px">
            <b>Jobmai.com</b>
          </span>
        </v-col>
        <v-col cols="12" md="5">
          <v-text-field
            hide-details
            outlined
            dense
            placeholder="ค้นหาตำแหน่งงาน"
            background-color="ci-graylt1"
            color="ci-dgreen"
          ></v-text-field>
        </v-col>
        <v-col cols="6" md="2" :align="$vuetify.breakpoint.md ? 'right' : ''">
          <v-btn text dark> ฝากประวัติ </v-btn>
        </v-col>
        <v-col cols="6" md="2">
          <v-btn text dark> สำหรับผู้ประกอบการ </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <!-- <v-app-bar-nav-icon class="white--text" @click="drawer = !drawer" />
    <v-navigation-drawer
      v-model="drawer"
      color="ci-dgreen"
      width="300px"
      dark
      app
      clipped
      style="z-index: 99"
    >
      {{ type }}
      <v-list>
        <v-list-item-group v-model="group" mandatory active-class="white--text">
          <v-list-item v-for="(item, index) in link" :key="index" :to="item.to">
            <v-list-item-icon>
              <v-icon>
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>
            <v-list-item-title>
              {{ item.text }}
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
        <v-list-item-group>
          <v-list-item @click="logoutHandle">
            <v-list-item-icon>
              <v-icon class="red--text"> mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="red--text"> Log Out </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer> -->
  </v-app-bar>
</template>

<script>
export default {
  props: ["type"],
  data() {
    return {
      drawer: false,
      group: null,
      userData: null,
      link: [
        {
          icon: "mdi-view-dashboard-outline",
          text: "Dashboard",
          to: "/user/dashboard",
        },
        {
          icon: "mdi-wallet-outline",
          text: "Wallet",
          to: "/user/wallet",
        },
        {
          icon: "mdi-finance",
          text: "Invest",
          to: "/user/invest",
        },
        {
          icon: "mdi-information-outline",
          text: "Information",
          to: "/user/information",
        },
      ],
    };
  },
  methods: {
    logoutHandle() {
      console.log("logout");
    },
  },
};
</script>
