<template>
  <v-card>
    <v-container>
      <v-row>
        <v-col cols="3">
          <v-img
            src="/images/lifestyle-people-emotions-beauty-concept-satisfied-totally-pleased-asian-man-showing-okay-perfection-gesture-smile-impressed-tasted-fantastic-tasty-food-grey-background.jpg"
            width="100%"
            aspect-ratio="1"
          >
          </v-img>
        </v-col>
        <v-col cols="5">
          <div>ศุรเดช ห้าวหาญ</div>
          <div class="mt-3 font-14 text--secondary">วิศวกรรม</div>
        </v-col>
        <v-col cols="3">
          <v-btn
            elevation="0"
            color="ci-green"
            class="rounded-pill white--text"
          >
            โปรไฟล์
          </v-btn>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-img
            src="/images/engineer-working-checking-maintenance-equipment-wiring-plc-cabinet.jpg"
            width="100%"
            aspect-ratio="1"
          ></v-img>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <p class="font-14">
            ประสบการณ์ทำงานด้านวิศวกรรม แผนกช่างบำรุงรักษา 3 ปี มีใบกว.
            ออกต่างจังหวัดได้
          </p>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>