<template>
  <div>
    <v-card elevation="0" tile color="ci-purple">
      <v-container>
        <v-row>
          <v-col>
            <h2 class="white--text">ฝากโปรไฟล์สมัครงาน</h2>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-card elevation="0" tile color="ci-lpurple">
      <v-container class="pa-8">
        <div class="d-flex">
          <div>
            <v-img src="/images/double-tick.png" width="20" height="20"></v-img>
          </div>
          <div class="mx-3">
            ฝากโปรไฟล์สมัครงาน ฟรี! ไม่มีค่าใช้จ่ายใดๆ ทั้งสิ้น
          </div>
        </div>
        <div class="d-flex my-6">
          <div>
            <v-img src="/images/double-tick.png" width="20" height="20"></v-img>
          </div>
          <div class="mx-3">
            คุณสามารถตั้งค่าความเป็นส่วนตัวของข้อมูลส่วนตัวของคุณได้
          </div>
        </div>
        <div class="d-flex">
          <div>
            <v-img src="/images/double-tick.png" width="20" height="20"></v-img>
          </div>
          <div class="mx-3">
            โปรไฟล์สมัครงานของคุณจะเปิดเผยให้เฉพาะผู้ประกอบการที่ผ่านการตรวจสอบจากเราแล้วเท่านั้น
          </div>
        </div>
      </v-container>
    </v-card>
  </div>
</template>