<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <h3 class="mt-4">งานที่คุณถูกใจ</h3>
        </v-col>
      </v-row>

      <!-- ไม่พบ -->
      <v-row style="margin-top: 150px">
        <v-col>
          <v-row class="justify-center">
            <div>
              <v-img src="/images/like.png" width="150" contain />
            </div>
          </v-row>
          <v-row class="justify-center py-3">
            <div class="font-22"><b>คุณยังไม่ได้เพิ่มงานที่ถูกใจ</b></div>
          </v-row>
          <v-row class="justify-center">
            <div>
              คุณสามารถปรับแต่ง โปรไฟล์ของคุณได้
              <span class="blue--text pointer"><u>ที่นี่</u></span>
            </div>
          </v-row>
        </v-col>
      </v-row>

      <!-- พบ -->
      <v-row class="pl-5 pr-15">
        <v-col cols="6" v-for="(item, index) in 8" :key="index">
          <v-card color="white" elevation="0" class="pr-5">
            <v-container>
              <v-row>
                <!-- img -->
                <v-col cols="2">
                  <v-img
                    src="/images/v1033-bb-037.jpg"
                    max-width="115"
                    max-height="115"
                    contain
                  />
                </v-col>
                <!-- detail -->
                <v-col cols="8">
                  <div class="ci-green--text font-22">
                    Human Resource (Part-time)
                  </div>
                  <div>บริษัท สะสมซีฟู้ด จำกัด</div>
                  <div class="my-1">
                    <v-icon>mdi-map-marker-outline</v-icon> ชลบุรี
                  </div>
                  <div>- Hands – on experiences on Safety Management</div>
                  <div>- Flexible and Good team player</div>
                  <div>- Bachelor’s degree</div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
    };
  },
};
</script>