<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <h3 class="mt-4">ผู้เยี่ยมชมประวัติของคุณ</h3>
        </v-col>
      </v-row>

      <!-- ไม่พบ -->
      <v-row style="margin-top: 150px">
        <v-col>
          <v-row class="justify-center">
            <div>
              <v-img src="/images/visibility.png" width="150" contain />
            </div>
          </v-row>
          <v-row class="justify-center py-3">
            <div class="font-22">
              <b>ยังไม่มีผู้เยี่ยมชมประวัติของคุณ</b>
            </div>
          </v-row>
          <v-row class="justify-center">
            <div>
              คุณสามารถปรับแต่ง โปรไฟล์ของคุณได้
              <span class="blue--text pointer"><u>ที่นี่</u></span>
            </div>
          </v-row>
        </v-col>
      </v-row>

      <!-- พบ -->
      <v-row class="pl-5 pr-15">
        <v-col cols="2" v-for="(item, index) in 8" :key="index">
          <v-card elevation="0" color="ci-graylt2" class="my-5">
            <v-container>
              <v-row>
                <!-- img -->
                <v-img
                  src="/images/v1033-bb-037.jpg"
                  width="100%"
                  max-height="200"
                  contain
                />
              </v-row>
              <v-row class="mt-6">
                <div>บริษัท สะสมซีฟู้ด จำกัด</div>
              </v-row>
              <v-row class="mt-6">
                <div><v-icon>mdi-map-marker-outline</v-icon> ชลบุรี</div>
              </v-row>
              <v-row class="mt-6">
                <div><v-icon>mdi-eye</v-icon> 2021-03-23 22.34 น.</div>
              </v-row>
              <v-row class="mt-6 justify-center">
                <v-sheet
                  color="ci-green"
                  height="50"
                  width="100%"
                  class="rounded-pill"
                  align="center"
                >
                  <p class="white--text mt-3">เปิดรับ 3 ตำแหน่ง</p>
                </v-sheet>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
    };
  },
};
</script>