<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <resume-banner />
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col> </v-col>
      </v-row>
    </v-container>
  </div>
</template>