// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@font-face {
  font-family: "Mitr";
  font-weight: 200;
  src: url("~assets/fonts/Mitr-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Mitr";
  font-weight: 300;
  src: url("~assets/fonts/Mitr-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Mitr";
  font-weight: 400;
  src: url("~assets/fonts/Mitr-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mitr";
  font-weight: 500;
  src: url("~assets/fonts/Mitr-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Mitr";
  font-weight: 600;
  src: url("~assets/fonts/Mitr-SemiBold.ttf") format("truetype");
}

$body-font-family: "Mitr";
$heading-font-family: "Mitr";
$font-size-root: 16px;

@import "~vuetify/src/styles/styles.sass";
