<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <resume-banner />
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <!-- left panel -->
        <v-col cols="9">
          <!-- ตำแหน่งงานต่อไป -->
          <v-card elevation="0" class="mb-5">
            <v-container>
              <v-row>
                <v-col cols="8">
                  <div><b class="font-20">ตำแหน่งงานต่อไป</b></div>
                  <div class="text--secondary">
                    ระบุข้อมูลเกี่ยวกับงานต่อไปที่ต้องการ
                  </div>
                </v-col>
                <v-col align="right">
                  <v-btn text class="ci-purple--text">
                    <v-img
                      src="/images/write.png"
                      height="22"
                      width="22"
                      contain
                    />
                    แก้ไข
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>

            <div class="pa-5">
              <v-card elevation="0" color="ci-graylt2">
                <v-container>
                  <v-row>
                    <v-col cols="8">
                      <p class="ci-green--text">Human Resource (Part-time)</p>
                      <v-row>
                        <v-col> เงินเดือน </v-col>
                        <v-col> 45,000 บาท </v-col>
                      </v-row>

                      <v-row>
                        <v-col> สถานที่ทำงาน </v-col>
                        <v-col> กรุงเทพมหานคร, ระยอง, ขอนแก่น </v-col>
                      </v-row>

                      <v-row>
                        <v-col>
                          <p>
                            I aim to attain an engaging internship position in
                            the field of social media management. I hope to
                            create online campaigns to inspire the youth.
                          </p>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </div>
          </v-card>
          <!-- ข้อมูลส่วนตัว -->
          <v-card elevation="0" class="mb-5">
            <v-container>
              <v-row>
                <v-col cols="8">
                  <div><b class="font-20">ข้อมูลส่วนตัว</b></div>
                  <div class="text--secondary">
                    กรอกประวัติ, ข้อมูลส่วนตัวของคุณ
                  </div>
                </v-col>
                <v-col align="right">
                  <v-btn text class="ci-purple--text">
                    <v-img
                      src="/images/write.png"
                      height="22"
                      width="22"
                      contain
                    />
                    แก้ไข
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>

            <div class="pa-5">
              <v-card elevation="0" color="ci-graylt2">
                <v-container fluid>
                  <v-row>
                    <!-- img -->
                    <v-col cols="3">
                      <v-img
                        src="/images/lifestyle-people-emotions-beauty-concept-satisfied-totally-pleased-asian-man-showing-okay-perfection-gesture-smile-impressed-tasted-fantastic-tasty-food-grey-background.jpg"
                        width="200"
                        height="200"
                        aspect-ratio="1"
                      />
                    </v-col>
                    <v-col>
                      <v-row>
                        <v-col>
                          <div>
                            <b class="font-20"> ศุรเดช ห้าวหาญ </b>
                          </div>
                        </v-col>
                      </v-row>
                      <v-row>
                        <!-- contact -->
                        <v-col>
                          <div class="d-flex">
                            <div>
                              <v-img
                                src="/images/envelope.png"
                                width="20"
                                height="20"
                                contain
                              ></v-img>
                            </div>
                            <div class="ml-3">example@mail.com</div>
                          </div>
                          <div class="d-flex">
                            <div>
                              <v-img
                                src="/images/world-wide-web.png"
                                width="20"
                                height="20"
                                contain
                              ></v-img>
                            </div>
                            <div class="ml-3">www.facebook.com/example</div>
                          </div>
                          <div class="d-flex">
                            <div>
                              <v-img
                                src="/images/line.png"
                                width="20"
                                height="20"
                                contain
                              ></v-img>
                            </div>
                            <div class="ml-3">Suradej.test</div>
                          </div>
                          <div class="d-flex">
                            <div>
                              <v-img
                                src="/images/instagram.png"
                                width="20"
                                height="20"
                                contain
                              ></v-img>
                            </div>
                            <div class="ml-3">Suredej222</div>
                          </div>
                        </v-col>
                      </v-row>
                    </v-col>
                    <!-- address & other detail -->
                    <v-col>
                      <div class="font-14 text--secondary">ที่อยู่</div>
                      <div>5/2362 ม.10</div>
                      <div>ต.บางตลาด อ.ปากเกร็ด จ.นนทบุรี</div>

                      <div class="mt-3 font-14 text--secondary">ทั่วไป</div>
                      <div>เพศชาย, อายุ 24 ปี</div>

                      <div class="mt-3 font-14 text--secondary">
                        สถานภาพทางทหาร
                      </div>
                      <div>ยังไม่ได้เกณฑ์ทหาร</div>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </div>
          </v-card>

          <!-- ประสบการณ์ทำงาน -->
          <v-card elevation="0" class="mb-5">
            <v-container>
              <v-row>
                <v-col cols="8">
                  <div><b class="font-20">ประสบการณ์ทำงาน</b></div>
                  <div class="text--secondary">
                    ระบุข้อมูลเกี่ยวกับประสบการณ์ทำงานของคุณ
                  </div>
                </v-col>
                <v-col align="right">
                  <v-btn text class="ci-purple--text">
                    <v-img
                      src="/images/write.png"
                      height="22"
                      width="22"
                      contain
                    />
                    แก้ไข
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>

            <div class="pa-5">
              <v-card elevation="0" color="ci-graylt2">
                <v-container>
                  <v-row>
                    <v-col>
                      <p class="ci-green--text">Human Resource - Freelance</p>
                      <v-row>
                        <v-col> Brainwave Group.Co.,Ltd </v-col>
                        <v-col> | 2015-ปัจจุบัน </v-col>
                      </v-row>

                      <v-row>
                        <v-col>
                          <div class="text--secondary">
                            - Wrote articles about technology and the digital
                            age for online publications
                          </div>
                          <div class="text--secondary">
                            - Wrote copies for tech startups
                          </div>
                          <div class="text--secondary">
                            - Designed the company’s online tech page
                          </div>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </div>
          </v-card>

          <!-- ประวัติการศึกษา -->
          <v-card elevation="0" class="mb-5">
            <v-container>
              <v-row>
                <v-col cols="8">
                  <div><b class="font-20">ประวัติการศึกษา</b></div>
                  <div class="text--secondary">
                    ระบุข้อมูลเกี่ยวกับประวัติการศึกษาของคุณ
                  </div>
                </v-col>
                <v-col align="right">
                  <v-btn text class="ci-purple--text">
                    <v-img
                      src="/images/write.png"
                      height="22"
                      width="22"
                      contain
                    />
                    แก้ไข
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>

            <div class="pa-5">
              <v-card elevation="0" color="ci-graylt2">
                <v-container>
                  <v-row>
                    <v-col>
                      <p class="ci-green--text">
                        Master of Software Engineering (GPA 3.24)
                      </p>
                      <v-row>
                        <v-col> De Loureigh University </v-col>
                        <v-col> | 2015 </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </div>
          </v-card>
          <!-- ทักษะความสามารถ -->
          <v-card elevation="0" class="mb-5">
            <v-container>
              <v-row>
                <v-col cols="8">
                  <div><b class="font-20">ทักษะความสามารถ</b></div>
                  <div class="text--secondary">
                    เพื่อความโดดเด่นของคุณ ลองใส่ทักษะความสามารถของคุณสิ
                  </div>
                </v-col>
                <v-col align="right">
                  <v-btn text class="ci-purple--text">
                    <v-img
                      src="/images/write.png"
                      height="22"
                      width="22"
                      contain
                    />
                    แก้ไข
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>

            <div class="pa-5">
              <v-card elevation="0" color="ci-graylt2">
                <v-container>
                  <v-row>
                    <v-col>
                      <div>
                        <p class="ci-green--text mb-0">
                          ความสามารถทางภาษา | Hard Skill
                        </p>
                        <v-row>
                          <v-col class="pb-0">
                            <li>ภาษาไทย</li>
                          </v-col>
                          <v-col class="pb-0"> เชี่ยวชาญ </v-col>
                        </v-row>
                        <v-row>
                          <v-col class="pt-0"> <li>ภาษาอังกฤษ</li></v-col>
                          <v-col class="pt-0"> IELTS Level 4 </v-col>
                        </v-row>
                      </div>

                      <div class="mt-5">
                        <p class="ci-green--text mb-0">
                          ทักษะโปรแกรมคอมพิวเตอร์ | Hard Skill
                        </p>

                        <ul>
                          <li>Word</li>
                          <li>Excel</li>
                        </ul>
                      </div>

                      <div class="mt-6">
                        <p class="ci-green--text mb-0">
                          ทักษะความสามารถเชิงสมรรถนะ หรือ ลักษณะอุปนิสัย | Soft
                          Skill
                        </p>
                        <ul>
                          <li>มีความอดทน</li>
                          <li>มีความกระตือรือร้น</li>
                        </ul>
                      </div>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </div>
          </v-card>

          <!-- รูปภาพผลงาน -->
          <v-card elevation="0" class="mb-5">
            <v-container>
              <v-row>
                <v-col cols="8">
                  <div><b class="font-20">รูปภาพผลงาน</b></div>
                  <div class="text--secondary">
                    นำเสนอรางวัล, ประกาศนียบัตร และ ผลงานอื่นๆ
                    เพื่อการันตรีความสามารถของคุณ
                  </div>
                </v-col>
                <v-col align="right">
                  <v-btn text class="ci-purple--text">
                    <v-img
                      src="/images/write.png"
                      height="22"
                      width="22"
                      contain
                    />
                    แก้ไข
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>

            <div class="pa-5">
              <v-card elevation="0" color="ci-graylt2">
                <v-container>
                  <v-row>
                    <v-col cols="4" v-for="(item, index) in 3" :key="index">
                      <v-img
                        src="/images/engineer-working-checking-maintenance-equipment-wiring-plc-cabinet.jpg"
                        max-height="300"
                        max-width="300"
                        aspect-ratio="1"
                      >
                      </v-img>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </div>
          </v-card>
        </v-col>

        <!-- right panel -->
        <v-col cols="3">
          <v-card elevation="0">
            <v-container>
              <v-row>
                <v-col class="font-20 ci-green--text"> คุณภาพโปรไฟล์ </v-col>
              </v-row>
              <v-row class="justify-center my-5">
                <v-sheet
                  color="ci-lgreen"
                  width="200"
                  height="60"
                  align="center"
                >
                  <div>
                    <h2 class="mt-2 ci-green--text">100%</h2>
                  </div>
                </v-sheet>
              </v-row>

              <!-- check list -->
              <!-- ตำแหน่งงานต่อไป -->
              <v-row>
                <v-col cols="2">
                  <v-img
                    src="/images/double-tick.png"
                    width="20"
                    height="20"
                    aspect-ratio="1"
                  ></v-img>
                </v-col>
                <v-col>ตำแหน่งงานต่อไป</v-col>
              </v-row>

              <!-- ข้อมูลส่วนตัว -->
              <v-row>
                <v-col cols="2">
                  <v-img
                    src="/images/double-tick.png"
                    width="20"
                    height="20"
                    aspect-ratio="1"
                  ></v-img>
                </v-col>
                <v-col>ข้อมูลส่วนตัว</v-col>
              </v-row>

              <!-- ประสบการณ์ทำงาน -->
              <v-row>
                <v-col cols="2">
                  <v-img
                    src="/images/double-tick.png"
                    width="20"
                    height="20"
                    aspect-ratio="1"
                  ></v-img>
                </v-col>
                <v-col>ประสบการณ์ทำงาน</v-col>
              </v-row>

              <!-- ประวัติการศึกษา -->
              <v-row>
                <v-col cols="2">
                  <v-img
                    src="/images/double-tick.png"
                    width="20"
                    height="20"
                    aspect-ratio="1"
                  ></v-img>
                </v-col>
                <v-col>ประวัติการศึกษา</v-col>
              </v-row>

              <!-- ทักษะความสามารถ, ภาษา -->
              <v-row>
                <v-col cols="2">
                  <v-img
                    src="/images/double-tick.png"
                    width="20"
                    height="20"
                    aspect-ratio="1"
                  ></v-img>
                </v-col>
                <v-col>ทักษะความสามารถ, ภาษา</v-col>
              </v-row>

              <!-- รูปภาพผลงาน, รางวัล -->
              <v-row>
                <v-col cols="2">
                  <v-img
                    src="/images/double-tick.png"
                    width="20"
                    height="20"
                    aspect-ratio="1"
                  ></v-img>
                </v-col>
                <v-col>รูปภาพผลงาน, รางวัล</v-col>
              </v-row>
            </v-container>
          </v-card>

          <v-card elevation="0" class="mt-5">
            <v-container>
              <v-row class="align-center">
                <v-col cols="7" class="font-20"> ความเป็นส่วนตัว </v-col>
                <v-col align="right">
                  <v-btn text dense class="font-14 ci-purple--text">
                    เปลี่ยน
                  </v-btn>
                </v-col>
              </v-row>

              <v-row no-gutters class="mt-4">
                <v-col cols="12"> สาธารณะ </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col class="font-14 text--secondary">
                  ข้อมูลของคุณจะถูกเปิดเผยให้กับ ผู้ประกอบการทั้งหมด
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      test: 0,
    };
  },
};
</script>