<template>
  <div>
    <main-app-bar :type="'user'" />
    <nuxt-child class="childdeco ci-graylt2" />
  </div>
</template>


<style scoped>
.childdeco,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
</style>