<template>
  <div>
    <v-app-bar-nav-icon
      style="position: absolute; z-index: 99999; top: 10; right: 10"
      class="ci-dgreen--text"
      @click.stop="drawer = !drawer"
    />
    <v-navigation-drawer
      v-model="drawer"
      color="ci-dgreen"
      width="300px"
      dark
      app
      clipped
    >
      <v-container>
        <v-row class="py-8 justify-center">
          <div>
            <v-img
              src="/images/lifestyle-people-emotions-beauty-concept-satisfied-totally-pleased-asian-man-showing-okay-perfection-gesture-smile-impressed-tasted-fantastic-tasty-food-grey-background.jpg"
              width="125"
              height="125"
              class="rounded"
            />
          </div>
        </v-row>
        <v-row class="justify-center white--text"> ศุรเดช ห้าวหาญ </v-row>
        <v-row class="justify-center my-8">
          <v-btn class="rounded-pill ci-purple--text" color="ci-graylt1">
            <v-icon> mdi-circle-edit-outline </v-icon>
            ปรับแต่งโปรไฟล์
          </v-btn>
        </v-row>
        <v-row class="justify-center white--text">
          คุณภาพโปรไฟล์ &nbsp;
          <v-icon class="pointer">mdi-information-outline</v-icon>
        </v-row>
        <v-row class="justify-center my-5">
          <v-sheet
            class="rounded-lg"
            color="ci-green"
            height="60"
            width="220"
            align="center"
          >
            <div>
              <h2 class="mt-2">100%</h2>
            </div>
          </v-sheet>
        </v-row>
      </v-container>
      <v-list nav>
        <v-list-item-group v-model="group" mandatory active-class="white--text">
          <v-list-item v-for="(item, index) in link" :key="index" :to="item.to">
            <v-list-item-title>
              {{ item.text }}
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
        <v-list-item-group>
          <v-list-item @click="logoutHandle">
            <v-list-item-title class="red--text">
              ออกจากระบบ
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <!-- circle-edit-outline -->
    <nuxt-child class="pa-3" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      group: null,
      userData: null,
      link: [
        {
          text: "คำเชิญบริษัท",
          to: "/user/invitation",
        },
        {
          text: "งานที่คุณสมัคร",
          to: "/user/apply",
        },
        {
          text: "งานที่คุณถูกใจ",
          to: "/user/interest",
        },
        {
          text: "ผู้เยี่ยมชมประวัติของคุณ",
          to: "/user/visitor",
        },
        {
          text: "โปรไฟล์",
          to: "/user/profile",
        },
        {
          text: "เปลี่ยนรหัสผ่าน",
          to: "/user/changepassword",
        },
      ],
    };
  },
  methods: {
    logoutHandle() {
      console.log("logout");
    },
  },
};
</script>
